.footer__link_type_bold {
  font-weight: 500;
  text-transform: uppercase;
  border-right: 1px solid white;
  padding: 20px;
  margin-right: 50px;
}
.footer__link_type_bold:last-child {
  border-right: none;
  border-left: 1px solid white;
}
