.form__input {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  background-color: #282828;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  flex-wrap: wrap;
  margin: 0;
  width: 255px;
  padding: 0;
  line-height: 2;
}
